<div class="page-header">

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              plugins_path, :class => 'btn'  %>
</div>

<%= render "plugins/universal" %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              plugins_path, :class => 'btn'  %>
</div>
