        <script type="text/javascript">
            var chart;

  	    var chartData = <%= @plugin.chart_data[:chart_data].to_json.html_safe %>;
							

            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.pathToImages = "/assets/amcharts/";
                chart.zoomOutButton = {
                    backgroundColor: "#000000",
                    backgroundAlpha: 0.15
                };
                chart.dataProvider = chartData;
                chart.categoryField = "year";

                chart.addTitle("Traffic in/out", 15);

                // AXES
                // Category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.parseDates = true; // in order char to understand dates, we should set parseDates to true
                categoryAxis.minPeriod = "ss"; // as we have data with minute interval, we have to set "mm" here.			 
                categoryAxis.gridAlpha = 0.07;
                categoryAxis.axisColor = "#DADADA";
                categoryAxis.startOnAxis = true;

                // Value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.title = "<%= @plugin.axes_properties[:value_axis][:title] %>";
                valueAxis.gridAlpha = 0.07;
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // first graph
                var graph = new AmCharts.AmGraph();
                graph.type = "line"; // it's simple line graph
                graph.title = "bytes out/sec";
                graph.valueField = "bytes_out";
                graph.balloonText = "[[value]]";
                graph.lineAlpha = 0;
		graph.lineColor = "#0000ee";
                graph.fillAlphas = 0.5; // setting fillAlphas to > 0 value makes it area graph 
                chart.addGraph(graph);

                // second graph
                var graph = new AmCharts.AmGraph();
                graph.type = "line";
                graph.title = "bytes in/sec";
                graph.valueField = "bytes_in";
                graph.balloonText = "[[value]]";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.5;
                chart.addGraph(graph);

		//SCROLLBAR
                var chartScrollbar = new AmCharts.ChartScrollbar();
                chartScrollbar.graph = graph;
                chartScrollbar.scrollbarHeight = 30;
                chartScrollbar.color = "#FFFFFF";
                chartScrollbar.graphType = "step";
                chartScrollbar.autoGridCount = true;
                chart.addChartScrollbar(chartScrollbar);

                // WRITE
                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.align = "center";
                chart.addLegend(legend);


                // CURSOR
                var chartCursor = new AmCharts.ChartCursor();
                chartCursor.cursorPosition = "mouse";
                chartCursor.categoryBalloonDateFormat = "YYYY:MM:DD, HH:NN:SS";
                chartCursor.zoomable = false; // as the chart displayes not too many values, we disabled zooming
                chartCursor.cursorAlpha = 0;
                chart.addChartCursor(chartCursor);

                // WRITE
                chart.write("chartdiv");
            });
        </script>
    
    <div id="chartdiv" style="width:100%; height:400px;"></div>
